<div
  class="px-3xl pt-3xl"
  *transloco="let t; prefix: 'chequeBook'">
  <div class="gap-2xl mb-8xl col-span-12 flex flex-col sm:mb-0 2xl:col-span-10 2xl:col-start-2">
    <scb-card>
      <div class="flex w-full flex-col gap-5 rounded-2xl">
        @if (status() !== 'error' && status() !== 'loading') {
          <div class="mb-5 flex w-full items-center gap-2 max-sm:flex-col max-sm:items-start">
            <div class="body-lg flex-1 font-bold">{{ t('requestChequebookTitle') }}</div>
            <button
              *rolePermission="['SUPER_USER', 'MAKER']"
              (click)="addChequeBook()"
              scbButton
              size="lg"
              icon="plus"
              type="button">
              {{ t('requestChequebook') }}
            </button>
          </div>
        }

        @if (status() !== 'error' && status() !== 'loading' && (!isChequeBookListEmpty() || showFilters())) {
          <!-- Header with Filters and Search -->
          <div class="flex w-full flex-col items-start justify-between gap-4 md:flex-row md:items-center">
            <div class="max-sm:order-3 2xl:order-2">
              <scb-form-field mode="search">
                <icon
                  name="search-normal"
                  class="prefix text-input-icon-enabled" />
                <input
                  type="text"
                  [placeholder]="t('search')"
                  class="w-full focus-within:outline-none"
                  data-testid="beneficiary_input_search"
                  scbInput
                  [value]="searchTerm()"
                  (input)="searchTerm.set($any($event.target).value)" />
              </scb-form-field>
            </div>

            <div class="flex flex-wrap items-center gap-3">
              <span class="text-base">{{ t('filterBy') }}</span>
              <div class="flex gap-3">
                <scb-form-field
                  class="bg-white-custom [&>.input-main]:w-max"
                  [variant]="statusValue().length ? 'primary' : 'ghost'"
                  data-testid="beneficiary_dropdown_transaction_type">
                  <scb-select
                    #statusTypeSelect
                    [(value)]="statusValue"
                    multiple
                    data-testid="beneficiary_select_transaction_type_value"
                    [searchPlaceholder]="t('status')">
                    <app-select-value
                      scbSelectTrigger
                      [placeholder]="t('status')"
                      data-testid="beneficiary_select_transaction_value"
                      [len]="statusValue().length" />

                    @for (item of statusList(); track item) {
                      <scb-option
                        class="capitalize"
                        [value]="item.value">
                        {{ item.label }}
                      </scb-option>
                    }
                    <app-select-footer
                      (apply)="applyFilter()"
                      (resetValue)="resetFilter()" />
                  </scb-select>
                </scb-form-field>

                @if (statusValue().length) {
                  <button
                    scbButton
                    variant="secondary"
                    size="md"
                    (click)="clearFilter()"
                    class="!px-2"
                    data-testid="CHEQUEBOOK_button_clearFilter">
                    {{ t('clearFilter') }}
                  </button>
                }
              </div>
            </div>
          </div>
        }

        @if (status() === 'loading') {
          <div class="py-3xl sm:px-3xl col-span-12 px-4">
            <scb-skeleton
              width="15%"
              height="40px" />
            <scb-skeleton width="50%" />
            <scb-skeleton width="50%" />
            <scb-skeleton width="80%" />
            <scb-skeleton width="90%" />
            <scb-skeleton width="100%" />
          </div>
        } @else if (status() === 'error') {
          <div
            *transloco="let t; prefix: 'accounts'"
            class="py-3xl sm:px-3xl col-span-12 flex w-full flex-col items-center justify-center gap-3 px-4 text-center"
            data-testid="CHEQUEBOOK_LIST_ERROR_STATE">
            <icon
              [name]="'api-failure'"
              class="text-3xl"
              data-testid="CHEQUEBOOK_LIST_API_FAILURE_ICON" />
            <h4
              class="head-2xs-s text-text-primary"
              data-testid="CHEQUEBOOK_LIST_API_ERROR_TITLE">
              {{ t('error.apiError') }}
            </h4>
            <p
              class="body-sm text-text-primary"
              data-testid="CHEQUEBOOK_LIST_API_ERROR_DETAIL">
              {{ t('error.apiErrorDetail') }}
            </p>
            <button
              scbButton
              variant="ghost"
              size="sm"
              icon="refresh"
              (click)="chequeBookListResource.reload()"
              data-testid="CHEQUEBOOK_LIST_RELOAD_BUTTON">
              {{ t('error.reload') }}
            </button>
          </div>
        } @else if (filteredChequeBookList().length === 0) {
          <div
            data-testid="LOANS_EMPTY_STATE"
            class="emptyState flex w-full flex-col items-center justify-center text-center">
            @if (showFilters()) {
              <icon [name]="'not-found'" />
            } @else {
              <icon
                [name]="'empty-state'"
                data-testid="LOANS_EMPTY_STATE_ICON"
                class="" />
            }
            <h4
              data-testid="LOANS_EMPTY_STATE_TITLE"
              class="mt-sm mb-sm mf-2xl font-semibold">
              {{ t(showFilters() ? 'filteredState.title' : 'empty.title') }}
            </h4>
            <p
              data-testid="LOANS_EMPTY_STATE_SUBTITLE"
              class="text-text-tertiary text-sm-sm">
              {{ t(showFilters() ? 'filteredState.subTitle' : 'empty.subTitle') }}
            </p>
          </div>
        } @else {
          <!-- Chequebook Entries -->
          <section class="gap-2xl flex flex-col">
            <div class="gap-2xl grid grid-cols-1">
              @for (item of filteredChequeBookList(); track $index) {
                <section class="p-2xl gap-lg border-border-secondary flex flex-col rounded-lg border">
                  <h3 class="mf-lg text-text-primary overflow-hidden font-semibold text-ellipsis whitespace-nowrap">
                    {{ item.accountNickname }}
                  </h3>
                  <div class="flex justify-between pt-2.5 max-sm:flex-wrap max-sm:gap-2">
                    <div class="gap-sm flex w-full flex-col sm:w-full">
                      <h2 class="mf-sm text-text-secondary font-normal">{{ t('table.requestDate') }}</h2>
                      <date-view
                        variant="md"
                        [value]="item.createdAt"
                        istFormat
                        format="d MMM yyyy" />
                    </div>
                    <div class="gap-sm flex w-full flex-col sm:w-full">
                      <h2 class="mf-sm text-text-secondary font-normal">{{ t('table.numberofChequebooks') }}</h2>
                      <p class="mf-md text-text-primary font-semibold">
                        {{ item.leavesCount }}
                      </p>
                    </div>

                    <div class="gap-sm flex w-full flex-col sm:w-full">
                      <h2 class="mf-sm text-text-secondary font-normal">{{ t('table.leavesPerChequebook') }}</h2>
                      <p class="mf-md text-text-primary font-semibold">
                        {{ item.chequebooksIssued }}
                      </p>
                    </div>

                    <div class="gap-sm flex w-full flex-col sm:w-full">
                      <h2 class="mf-sm text-text-secondary font-normal">{{ t('table.status') }}</h2>
                      <scb-badge
                        size="sm"
                        [variant]="item.status.toLowerCase() === 'received' ? 'success' : 'warning'"
                        class="w-max justify-center px-2 py-0.5 whitespace-nowrap">
                        <span
                          class="rounded-4xl"
                          [ngClass]="{
                            'text-text-warning': item.status.toLowerCase() !== 'received',
                            'text-text-success': item.status.toLowerCase() === 'received',
                          }">
                          {{ item.status }}</span
                        >
                      </scb-badge>
                    </div>
                    <div class="ml-0 max-sm:mt-2 max-sm:w-full md:ml-auto md:w-2/4">
                      <div class="flex flex-col">
                        <a
                          scbButton
                          class="w-full whitespace-nowrap sm:flex!"
                          variant="secondary"
                          size="md"
                          (click)="goToChequeBookDetail(item)">
                          {{ t('table.viewDetails') }}
                        </a>
                      </div>
                    </div>
                  </div>
                </section>
              }
            </div>
          </section>
        }
      </div>
    </scb-card>
  </div>
</div>
