<section class="col-span-12 max-sm:hidden 2xl:row-span-1">
  <app-breadcrumbs
    *transloco="let t; prefix: 'breadcrumbs'"
    [routes]="[
      { label: t('home'), path: '/dashboard' },
      { label: t('facilities'), path: '/dashboard/facilities' },
      { label: t('idcDetails') },
    ]"></app-breadcrumbs>
</section>

<!-- Basic Details -->
<section
  class="col-span-12"
  *transloco="let t; prefix: 'facilities.facilitiesIDCDetails'">
  <scb-card class="p-xl col-span-12 flex flex-col 2xl:row-span-2">
    @if (status() === 'loading') {
      <scb-card-skeleton />
    } @else if (status() === 'error') {
      <div
        *transloco="let t; prefix: 'accounts'"
        class="py-3xl sm:px-3xl col-span-12 flex w-full flex-col items-center justify-center gap-3 px-4 text-center"
        data-testid="accounts_div_errorState">
        <icon
          [name]="'api-failure'"
          class="text-3xl"
          data-testid="accounts_icon_apiFailure" />
        <h4
          class="head-2xs-s text-text-primary"
          data-testid="accounts_h4_apiError">
          {{ t('error.apiError') }}
        </h4>
        <p
          class="body-sm text-text-primary"
          data-testid="accounts_p_apiErrorDetail">
          {{ t('error.apiErrorDetail') }}
        </p>
        <button
          scbButton
          variant="ghost"
          size="sm"
          icon="refresh"
          (click)="idcDetailsResource.reload()"
          data-testid="accounts_button_reload">
          {{ t('error.reload') }}
        </button>
      </div>
    } @else {
      <div class="pb-3xl relative h-full overflow-hidden">
        <div
          data-testid="accounts_div_tableHeader"
          class="gap-sm ng-star-inserted xs:pb-2.5 relative flex flex-col sm:flex-row sm:justify-between sm:pb-0 rtl:right-auto rtl:left-0">
          <div class="sm:self-center">
            <p
              data-testid="DASH_IDC_DETAIL_TITLE"
              class="mf-lg text-text-primary font-semibold">
              {{ t('idcSwiftNumber') }} <span class="ltr-force max-2xl:block">{{ idcDetails()?.idcSwiftNumber }}</span>
            </p>
          </div>
          <app-last-updated
            [date]="lastUpdatedAt()"
            (refresh)="idcDetailsResource.reload()" />
        </div>
        <div class="rounded-5xl border-border-secondary bg-container ng-star-inserted border-[1px] p-4 sm:mt-5">
          <div
            data-testid="DASH_IDC_DETAIL_CONTAINER"
            class="border-border-secondary bg-container flex min-h-10 justify-between border-b align-middle">
            <h2
              data-testid="DASH_IDC_DETAIL_HEADING"
              class="mf-lg text-text-primary font-semibold">
              {{ t('IdcDetails') }}
            </h2>
          </div>
          <div class="flex justify-between pt-2.5 max-sm:flex-col max-sm:gap-2">
            <div class="flex w-full flex-col gap-1">
              <h2
                data-testid="DASH_IDC_DETAIL_ACCOUNT_HEADING"
                class="mf-md text-text-secondary font-normal">
                {{ t('idcAmount') }}
              </h2>
              <currency-view
                data-testid="DASH_LGS_BASIC_DETAIL_OUTSTANDING_LIMIT_TITLE"
                [amount]="idcDetails()?.idcAmount"
                [currency]="idcDetails()?.currency" />
            </div>

            <div class="flex w-full flex-col gap-1">
              <h2
                data-testid="DASH_IDC_DETAIL_IBAN_HEADING"
                class="mf-md text-text-secondary font-normal">
                {{ t('idcType') }}
              </h2>
              <p
                data-testid="DASH_IDC_DETAIL_TYPE"
                class="mf-md text-text-primary font-semibold">
                {{ idcDetails()?.idcTypeDescription }}
              </p>
            </div>

            <div class="flex w-full flex-col gap-1">
              <h2
                data-testid="DASH_IDC_DETAIL_IBAN_HEADING"
                class="mf-md text-text-secondary font-normal">
                {{ t('exporterName') }}
              </h2>
              <p
                data-testid="DASH_IDC_DETAIL_ACCOUNT_NUMBER"
                class="mf-md text-text-primary font-semibold">
                {{ idcDetails()?.exporterName }}
              </p>
            </div>
          </div>

          <div class="flex justify-between pt-2.5 max-sm:flex-col max-sm:gap-2">
            <div class="flex w-full flex-col gap-1">
              <h2
                data-testid="DASH_IDC_DETAIL_IBAN_HEADING"
                class="mf-md text-text-secondary font-normal">
                {{ t('idcCountry') }}
              </h2>
              <p
                data-testid="DASH_IDC_DETAIL_ACCOUNT_NUMBER"
                class="mf-md text-text-primary font-semibold">
                {{ idcDetails()?.idcCountry }}
              </p>
            </div>

            @if (idcDetails()?.isDeferred) {
              <div class="flex w-full flex-col gap-1">
                <h2
                  data-testid="DASH_IDC_DETAIL_IBAN_HEADING"
                  class="mf-md text-text-secondary font-normal">
                  {{ t('dueDate') }}
                </h2>
                @if (idcDetails()?.dueDate) {
                  <date-view
                    data-testid="DASH_LCS_DETAIL_EXPIRY_DATE"
                    [value]="idcDetails()?.dueDate ?? undefined"
                    variant="md" />
                } @else {
                  –
                }
              </div>
            }
            <div class="flex w-full flex-col gap-1"></div>
          </div>

          <span
            class="border-border-secondary bg-container flex justify-between border-b pt-0 pb-3 align-middle"></span>
          <h2 class="mf-lg text-text-primary pt-5 pb-2 font-semibold">{{ t('cashCoverDetails') }}</h2>
          <div class="flex justify-between pt-2.5 max-sm:flex-col max-sm:gap-2">
            <div class="flex w-full flex-col gap-1">
              <h2
                data-testid="DASH_IDC_DETAIL_ACCOUNT_HEADING"
                class="mf-md text-text-secondary font-normal">
                {{ t('cashCoverAmount') }}
              </h2>
              <p
                data-testid="DASH_IDC_DETAIL__IBAN_TITLE"
                class="mf-md ltr-force rtl:text-right">
                <span class="text-text-primary font-semibold">
                  {{ idcDetails()?.cashCover ? (idcDetails()?.cashCover | shortNumber: false) : 'N/A' }}</span
                >
                <span class="text-text-secondary">
                  {{ idcDetails()?.cashCover ? idcDetails()?.cashCoverCurrency : '' }}</span
                >
              </p>
            </div>
            <div class="flex w-full flex-col gap-1">
              <h2
                data-testid="DASH_IDC_DETAIL_IBAN_HEADING"
                class="mf-md text-text-secondary font-normal">
                {{ t('cashCoverPercentage') }}
              </h2>
              <p
                data-testid="DASH_IDC_DETAIL_ACCOUNT_NUMBER"
                class="mf-md text-text-primary font-semibold">
                {{ idcDetails()?.cashCoverPercentage !== null ? idcDetails()?.cashCoverPercentage + '%' : 'N/A' }}
              </p>
            </div>
            <div class="flex w-full flex-col gap-1"></div>
          </div>
        </div>
      </div>
    }
  </scb-card>
</section>
