<time-deposits-details-widget
  [status]="status()"
  (reload)="resource().reload()"
  data-testid="DEPOSIT_DETAIL_WIDGET_CONTAINER"
  *transloco="let t; prefix: 'timeDepositDetails'">
  <div class="loading">
    <scb-card-skeleton />
  </div>

  @if (details()) {
    <div
      class="gap-sm mb-3 flex flex-col sm:flex-row sm:justify-between"
      data-testid="deposits_div_tableHeader">
      <div class="sm:self-center">
        <p
          class="mf-lg text-text-primary font-semibold"
          data-testid="DASH_DEPOSIT_BASIC_DETAIL_TITLE">
          {{ details()?.tdName }}
        </p>
      </div>

      <div
        class="gap-sm flex flex-col justify-between sm:items-end"
        data-testid="deposits_div_tableActions">
        <div class="gap-sm flex items-center">
          <p
            class="text-text-tertiary mf-md"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_EQUIVALENT">
            {{ t('equivalent') }}
          </p>

          <p
            [pTooltip]="totalEquivalentBalance"
            tooltipPosition="top"
            class="mf-md ltr-force font-semibold"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_AVAILABLE_BALANCE">
            {{ details()?.equivalentBalanceInEGP | numberCommaFormat | mask: layoutFacade.showBalances() }}
            <span
              class="text-text-secondary font-normal"
              data-testid="DASH_DEPOSIT_BASIC_DETAIL_CURRENCY"
              >EGP</span
            >
          </p>
        </div>

        <ng-template #totalEquivalentBalance>
          <p class="mf-sm whitespace-nowrap">
            {{ details()?.equivalentBalanceInEGP | numberCommaFormat }}
            <span
              class="text-text-white font-normal"
              data-testid="DASH_DEPOSIT_BASIC_DETAIL_CURRENCY_TOOLTIP"
              >EGP</span
            >
          </p>
        </ng-template>
      </div>
    </div>

    <div class="progress-container flex flex-col gap-1">
      <div class="mf-md text-text-primary flex justify-between">
        <span>{{ t('totalTenor') }}</span>
        @if (lang() === 'ar') {
          <span class="ltr-force"> {{ t('days') }} {{ details()?.tenorInDays }} </span>
        } @else {
          <span class="ltr-force">{{ details()?.tenorInDays }} {{ t('days') }} </span>
        }
      </div>
      <p-progressbar
        [value]="progressValue()"
        [color]="darkMode() ? '#4ADE80' : '#16A34A'"
        [showValue]="false"
        [style]="{ height: '8px', 'border-radius': '5px' }" />
      <div class="mf-sm text-text-secondary flex justify-end">
        <span>{{ t('maturityLeft') }}</span>
      </div>
      <div class="mf-md text-text-primary flex justify-end font-semibold">
        @if (details()?.matured) {
          <span>{{ t('matured') }} </span>
        } @else {
          @if (lang() === 'ar') {
            <span>
              {{ t('days') }} <span class="ltr-force">{{ maturityRemainingInDays() }}</span>
            </span>
          } @else {
            <span>{{ maturityRemainingInDays() }} {{ t('days') }} </span>
          }
        }
      </div>
    </div>

    <div class="rounded-5xl border-border-secondary bg-container mt-5 border-[1px] p-4">
      <div class="flex justify-between max-sm:flex-col max-sm:gap-2">
        <div class="gap-sm flex w-full flex-col">
          <h2
            class="mf-md text-text-secondary font-normal"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_BALANCE_HEADING">
            {{ t('tdAmount') }}
          </h2>
          <p
            class="mf-md text-text-primary ltr-force font-semibold rtl:text-right"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_BALANCE_VALUE">
            {{ details()?.balance | numberCommaFormat | mask: layoutFacade.showBalances() }} {{ details()?.currency }}
          </p>
        </div>
        <div class="gap-sm flex w-full flex-col">
          <h2
            class="mf-md text-text-secondary font-normal"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_RATE_HEADING">
            {{ t('appliedRate') }}
          </h2>
          <p
            class="mf-md text-text-primary font-semibold"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_RATE_VALUE">
            {{ details()?.interestRate }}%
          </p>
        </div>
      </div>

      <div class="flex justify-between pt-3.5 max-sm:flex-col max-sm:gap-2">
        <div class="gap-sm flex w-full flex-col">
          <h2
            class="mf-md text-text-secondary font-normal"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_RATE_HEADING">
            {{ t('interestDate') }}
          </h2>

          @if (details()?.interestCreditDate) {
            <date-view
              data-testid="DASH_CERTIFICATE_BASIC_DETAIL_TITLE"
              [value]="details()?.interestCreditDate"
              variant="md" />
          } @else {
            <p class="mf-md text-text-primary font-semibold">N/A</p>
          }
        </div>
        <div class="gap-sm flex w-full flex-col">
          <h2
            class="mf-md text-text-secondary font-normal"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_RATE_HEADING">
            {{ t('interestAmount') }}
          </h2>
          <p
            class="mf-md text-text-primary ltr-force font-semibold rtl:text-right"
            data-testid="DASH_DEPOSIT_BASIC_DETAIL_RATE_VALUE">
            {{ details()?.interestAmount | numberCommaFormat | mask: layoutFacade.showBalances() }}
            {{ details()?.currency }}
          </p>
        </div>
      </div>
    </div>
  }
</time-deposits-details-widget>
