<scb-card>
  @if (status() === 'loading') {
    <scb-table-skeleton
      [rows]="5"
      [columns]="4" />
  } @else if (status() === 'error') {
    <div
      *transloco="let t; prefix: 'dashboard'"
      class="py-3xl sm:px-3xl col-span-12 flex w-full flex-col items-center justify-center gap-3 px-4 text-center">
      <icon
        [name]="'api-failure'"
        class="text-3xl" />
      <h4 class="head-2xs-s text-text-primary">
        {{ t('error.apiError') }}
      </h4>
      <p class="body-sm text-text-primary">
        {{ t('error.apiErrorDetail') }}
      </p>
      <button
        scbButton
        variant="ghost"
        size="sm"
        icon="refresh"
        (click)="allListResource.reload()">
        {{ t('error.reload') }}
      </button>
    </div>
  } @else {
    <div
      class="border-border-secondary py-xl gap-lg flex flex-col rounded-4xl border-1"
      *transloco="let t; prefix: 'pendingApprovals'">
      <div class="gap-sm px-xl flex flex-col sm:flex-row sm:items-center sm:justify-between">
        <p class="mf-lg font-semibold">{{ t(type()) }}</p>
      </div>

      <!-- Filter Section -->
      <app-pending-approval-filter
        [(transferType)]="transferType"
        [(dateRange)]="date"
        [isEmpty]="isEmpty()" />

      <!-- Empty state & Table -->
      @if (isEmpty()) {
        <div class="emptyState flex w-full flex-col items-center justify-center text-center">
          <icon
            [name]="'not-found'"
            class="" />
          <h4 class="mt-sm mb-sm mf-2xl font-semibold">
            {{ t('empty.title') }}
          </h4>
          <p class="text-text-tertiary text-sm-sm">
            {{ t('empty.subTitle') }}
          </p>
        </div>
      } @else {
        <p-table
          [value]="allDelegationsList()"
          [paginator]="false"
          [rows]="page.rows()"
          [first]="page.first()"
          [showFirstLastIcon]="false"
          [totalRecords]="totalRecords()"
          lazy="true">
          <ng-template #header>
            <tr>
              <th class="mf-sm !font-medium">
                {{ t('table.requestDate') }}
              </th>
              <th class="mf-sm !font-medium">
                {{ t('table.requestNumber') }}
              </th>
              @if (type() !== 'cheque') {
                <th class="mf-sm !font-medium">
                  {{ t('table.requestType') }}
                </th>
              }
              <th class="mf-sm !font-medium">
                {{ t('table.amount') }}
              </th>
              <th class="mf-sm !font-medium">
                {{ t('table.status') }}
              </th>
              <th class="mf-sm !font-medium">
                {{ t('table.actions') }}
              </th>
            </tr>
          </ng-template>
          <ng-template
            #body
            let-transaction>
            <tr
              [routerLink]="transaction.requestId"
              class="cursor-pointer">
              <td class="body-sm">
                <date-view
                  [value]="transaction.createdDate || transaction.createdAt || transaction.requestDate"
                  format="d MMM yyyy">
                </date-view>
              </td>
              <td>
                {{ transaction.requestId ?? (transaction.id || transaction.requestNumber) }}
              </td>

              @if (type() !== 'cheque') {
                <td>
                  {{ transaction.accountType || transaction.requestType || transaction.transferType }}
                </td>
              }
              <td>
                <currency-view
                  [amount]="transaction.amount || transaction.issueFee"
                  [currency]="transaction.currency || transaction.accountCurrency"
                  size="sm" />
              </td>

              <td class="body-sm">
                <div class="gap-xs flex">
                  @for (
                    step of pendingService.getApprovalSteps(
                      transaction.approvalStatus?.totalNumberOfApproval ?? transaction.requiredApproval,
                      transaction.approvalStatus?.approvedNumber ?? transaction.approved ?? 0,
                      transaction.rejected ?? 0
                    );
                    track $index
                  ) {
                    <approval-progress [status]="step.status"></approval-progress>
                  }
                </div>
              </td>
              <td>
                <app-action-buttons
                  [type]="type()"
                  [requestId]="transaction.requestId || transaction.requestNumber || transaction.id"
                  [status]="transaction.status"
                  [approved]="transaction.approved"
                  (reload)="allListResource.reload()" />
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
    </div>

    <!-- Pagination -->
    @if (!isEmpty()) {
      <app-pagination
        [totalPages]="totalPages()"
        [totalRecords]="totalRecords()"
        [page]="page" />
    }
  }
</scb-card>
