<div
  class="flex flex-col"
  *transloco="let t; prefix: 'transfer.betweenOwnAccounts.form'">
  <!-- Body - Scrollable Content -->
  <main class="bg-page pb-3xl flex-grow">
    @if (transfer.step() === 'form') {
      <form
        class="page-grid p-0"
        *transloco="let t; prefix: 'transfer.form'">
        <!-- Main section -->
        <div class="gap-2xl col-span-12 flex flex-col 2xl:col-span-10 2xl:col-start-2">
          @if (transferCurrency.value !== 'EGP') {
            <scb-alert
              [desc]="t('exchangeAlert')"
              [hideClose]="true"
              type="info" />
          }

          <scb-card class="p-xl gap-2xl flex flex-col">
            <div class="gap-lg flex flex-col">
              <p class="mf-lg font-semibold">{{ t('from') }}</p>
              <select-account-field
                type="from"
                transferType="OWN"
                [skipAccount]="transfer.selectedToAccountNumber()"
                currency=""
                [setAccountData]="this.repeatTransferData()?.fromAccount"
                [isLoadingState]="transfer.fromAccountsLoading()"
                [accountsData]="transfer.fromAccountsData()"
                [errorState]="transfer.fromAccountsError()"
                [availableCurrencies]="transfer.getAvailableCurrencies('from')"
                (accountSelected)="handleAccountSelected($event)"
                (refreshRequest)="handleRefreshRequest($event)" />
              @if (fromAccount.touched && fromAccount.invalid) {
                <p class="mf-sm text-input-text-danger gap-sm flex items-start">
                  <icon
                    name="info-circle"
                    class="w-[18px] flex-none" />
                  {{ t('sectionRequired') }}
                </p>
              }
            </div>

            <div class="gap-lg flex flex-col">
              <p class="mf-lg font-semibold">{{ t('to') }}</p>
              <select-account-field
                type="to"
                transferType="OWN"
                [skipAccount]="transfer.selectedAccountNumber()"
                [setAccountData]="this.repeatTransferData()?.toAccount"
                [isLoadingState]="transfer.toAccountsLoading()"
                [accountsData]="transfer.toAccountsData()"
                [errorState]="transfer.toAccountsError()"
                [availableCurrencies]="transfer.getAvailableCurrencies('to')"
                (accountSelected)="handleAccountSelected($event)"
                (refreshRequest)="handleRefreshRequest($event)" />
              @if (toAccount.touched && toAccount.invalid) {
                <p class="mf-sm text-input-text-danger gap-sm flex items-start">
                  <icon
                    name="info-circle"
                    class="w-[18px] flex-none" />
                  {{ t('sectionRequired') }}
                </p>
              }
            </div>

            <!-- Amount -->
            <div class="gap-lg flex flex-col">
              <p class="mf-lg font-semibold">{{ t('amount') }}</p>
              <div class="gap-2xl flex flex-1 flex-col">
                <!-- Currency field -->
                <app-currency-flag-field
                  [currency]="transferCurrency.value"
                  [control]="currencyField" />
              </div>
              <transfer-description-field
                [control]="descriptionField"
                [scbMaxLength]="300"
                [showDesc]="!!repeatTransferData()?.description?.trim()" />
            </div>
          </scb-card>

          <!-- Schedule transfer -->
          @if (transferCurrency.value === 'EGP') {
            <app-schedule-transfer [setData]="repeatTransferData()?.scheduleDto" />
          }
        </div>
      </form>
    }

    @if (transfer.step() === 'summary' || transfer.step() === 'otp') {
      <transaction-summary />
    }

    @if (transfer.step() === 'success') {
      <transaction-success />
    }
  </main>

  <!-- Footer - Sticky at bottom -->
  <submit-buttons-footer [form]="form" />
</div>
