@if (isLoading()) {
  <div
    class="py-3xl sm:px-3xl col-span-12 px-4"
    data-testid="account_div_loadingState">
    <scb-skeleton width="50%" />
    <scb-skeleton width="75%" />
    <scb-skeleton width="100%" />
  </div>
} @else {
  @if (selectedAccount(); as sa) {
    <div
      *transloco="let t; prefix: 'accountsDrawer'"
      class="gap-md p-xl border-border-secondary flex items-center justify-between rounded-lg border">
      <div class="gap-md flex flex-1 flex-col sm:flex-row sm:justify-between">
        <div class="gap-sm flex flex-col">
          <div class="head-xs-s truncate-force">{{ sa.nickname }}</div>
          <div class="gap-sm flex items-center">
            <scb-badge
              size="xs"
              class="whitespace-nowrap"
              >{{ sa.accountType }}</scb-badge
            >
            <span class="mf-sm text-text-tertiary truncate-force">{{ sa.accountNumber }}</span>
          </div>
        </div>
        <div class="gap-lg flex items-center text-right sm:w-auto">
          <div class="gap-sm flex flex-col">
            <div class="mf-sm text-text-secondary flex whitespace-nowrap">{{ t('availableBalance') }}</div>
            <currency-view
              size="xs"
              [amount]="sa.availableBalance"
              [currency]="sa.currency" />
          </div>
        </div>
      </div>
      <button
        scbButton
        variant="ghost"
        size="md"
        (click)="openDrawer()">
        {{ t('change') }}
      </button>
    </div>
  } @else {
    <div
      (click)="openDrawer()"
      *transloco="let t; prefix: 'transfer.form'"
      class="border-border-primary p-xl min-h-8xl flex cursor-pointer items-center justify-center rounded-lg border border-dashed text-center transition hover:border-gray-400">
      <span class="text-text-tertiary inline-flex items-center space-x-1">
        <icon
          name="plus"
          class="h-3xl w-3xl" />
        <span class="mf-md font-normal">{{ t('selectAccount') }}</span>
      </span>
    </div>
  }
}

<accounts-drawer
  [(open)]="open"
  [type]="type()"
  [transferType]="transferType()"
  [currency]="currency()"
  [skipAccount]="skipAccount()"
  [(selectedAccount)]="selectedAccount"
  [accountsData]="accountsData()"
  [isLoadingState]="isLoadingState()"
  [errorState]="errorState()"
  [availableCurrencies]="availableCurrencies()"
  (selectedAccountChange)="accountChange($event!)"
  (accountListChange)="handleAccountList($event)"
  (refreshRequest)="handleRefreshRequest($event)" />
