<section class="col-span-12 max-sm:hidden 2xl:row-span-1">
  <app-breadcrumbs
    *transloco="let t; prefix: 'breadcrumbs'"
    [routes]="[
      { label: t('products'), path: '/products' },
      { label: t('timeDeposits'), path: '/products/time-deposits' },
      { label: detail()?.title, path: '' },
    ]"></app-breadcrumbs>
</section>

<app-product-form-container
  [apiRef]="detailsSource"
  class="gap-2xl col-span-12 row-span-8 grid">
  <ng-template #headSection>
    @let isReview = steps() !== 'form';
    <scb-card
      class="{{ `gap-lg flex flex-col ${isReview ? 'border border-border-secondary' : ''}` }}"
      *transloco="let t; prefix: 'products'">
      <div class="gap-md flex items-center">
        <div>
          <round-icon icon="bank" />
        </div>
        <div class="gap-md flex flex-1">
          <span class="head-xs-s">{{ detail()?.title }}</span>
          <!-- <span class="body-lg text-text-tertiary">
            @if (!withInterest()) {
              (Non Interest)
            } @else {
              (Interest)
            }
          </span> -->
        </div>
        @if (!isReview) {
          <div>
            <button
              scbButton
              variant="ghost"
              size="md"
              [routerLink]="['/products/time-deposits']">
              {{ t('timeDepositForm.change') }}
            </button>
          </div>
        }
      </div>
      <scb-separator class="!my-0" />
      <div class="{{ 'gap-y-lg grid grid-cols-2 ' + (withInterest() ? 'sm:grid-cols-5' : '') }}">
        <div class="gap-xs grid">
          <h4 class="body-label-sm-m text-text-tertiary">{{ t('minimumDeposit') }}</h4>
          <currency-view [amount]="detail()?.minimumDeposit" />
        </div>
        <div class="gap-xs grid">
          <h4 class="body-label-sm-m text-text-tertiary">{{ t('timeDepositForm.tenor') }}</h4>
          <div class="body-md-s">{{ tenor() === '' ? detail()?.frequency : tenor() }}</div>
        </div>

        <div class="gap-xs grid">
          <h4 class="body-label-sm-m text-text-tertiary">{{ t('timeDepositForm.interestRate') }}</h4>
          <div class="body-md-s">
            {{ detail()?.tdType === 'FIXED' ? this.fixedInterestPercentage() : this.interestRate() }} %
          </div>
        </div>
        <!-- @if (withInterest()) { -->
        <div class="gap-xs grid">
          <h4 class="body-label-sm-m text-text-tertiary">{{ t('timeDepositForm.currency') }}</h4>
          <div class="body-md-s">{{ detail()?.currency }}</div>
        </div>
        <div class="gap-xs grid">
          <h4 class="body-label-sm-m text-text-tertiary">{{ t('timeDepositForm.actionMaturity') }}</h4>
          <div class="body-md-s">Redeem</div>
        </div>
        <!-- } -->
      </div>
    </scb-card>
  </ng-template>
  @if (steps() === 'form') {
    <ng-container *ngTemplateOutlet="headSection"></ng-container>
    <scb-card *transloco="let t; prefix: 'products.timeDepositForm'">
      <form
        [formGroup]="form"
        class="gap-2xl grid">
        <div class="gap-lg grid">
          <h4 class="head-xs-s">{{ t('debitedAccount') }}</h4>
          <select-account-field
            type="from"
            transferType="OUTSIDE"
            currency="EGP"
            [isLoadingState]="fromAccountsLoading()"
            [accountsData]="fromAccountsData()"
            [errorState]="fromAccountsError()"
            [setAccountData]="fromAccount()"
            [skipAccount]="toAccount()?.accountNumber"
            (accountSelected)="handleAccountSelected($event)" />
          @if (drawdownAccount.touched && drawdownAccount.invalid) {
            <p class="mf-sm text-input-text-danger gap-sm flex items-start">
              <icon
                name="info-circle"
                class="w-[18px] flex-none" />
              {{ t('sectionRequired') }}
            </p>
          }
        </div>
        <div class="space-y-lg">
          <h4 class="head-xs-s">{{ t('creditedAccount') }}</h4>
          <scb-radio-group
            class="gap-lg grid"
            [(value)]="accountType">
            <scb-radio
              class="{{ `!p-xl border-border-secondary flex-row-reverse rounded-lg border` }}"
              value="1">
              <span class="body-lg flex-1">{{ t('sameDebitedAccount') }}</span>
            </scb-radio>
            <scb-radio
              class="!p-xl border-border-secondary flex-row-reverse rounded-lg border"
              value="2">
              <span class="body-lg flex-1">{{ t('chooseAnotherAccount') }}</span>
            </scb-radio>
          </scb-radio-group>
          @if (accountType() === '2') {
            <select-account-field
              type="from"
              transferType="OUTSIDE"
              currency="EGP"
              [isLoadingState]="fromAccountsLoading()"
              [accountsData]="fromAccountsData()"
              [errorState]="fromAccountsError()"
              [setAccountData]="toAccount()"
              [skipAccount]="fromAccount()?.accountNumber"
              (accountSelected)="handleToAccountSelected($event)" />
            @if (anotherAccount.touched && anotherAccount.invalid) {
              <p class="mf-sm text-input-text-danger gap-sm mt-lg flex items-start">
                <icon
                  name="info-circle"
                  class="w-[18px] flex-none" />
                {{ t('sectionRequired') }}
              </p>
            }
          }
        </div>

        @if (detail()?.tdType === 'FLOATING') {
          <div class="gap-sm grid">
            <h4 class="head-xs-s">{{ t('tenor') }}</h4>
            <scb-form-field>
              <label scbLabel>{{ t('chooseDuration') }}</label>
              <scb-select
                [withLabel]="true"
                formControlName="duration">
                <div
                  scbSelectTrigger
                  class="text-text-primary body-md-s">
                  {{ selectedDurationLabel }}
                </div>
                @for (tenor of tdTenor() ?? []; track tenor.value) {
                  <scb-option [value]="tenor.value">{{ tenor.label }}</scb-option>
                }
              </scb-select>
            </scb-form-field>
            @if (form.get('duration')?.touched && form.get('duration')?.invalid) {
              <p class="mf-sm text-input-text-danger gap-sm flex items-start">
                <icon
                  name="info-circle"
                  class="w-[18px] flex-none" />
                {{ t('sectionRequired') }}
              </p>
            }
            @if (floatingInterestPercentage()) {
              <p
                scbHint
                class="gap-sm text-input-text-supporting flex items-center">
                <icon
                  name="info-circle"
                  class="w-[20px] flex-none" />
                @if (floatingInterestPercentage()) {
                  <span class="mf-sm text-text-tertiary text-right font-semibold">
                    {{ t('amountHint', { percentage: floatingInterestPercentage() }) }}</span
                  >
                }
              </p>
            }
          </div>
        }
        <div class="gap-lg grid">
          <h4 class="head-xs-s">{{ t('amount') }}</h4>
          <app-currency-input-field
            [control]="amount"
            [currency]="currency()"
            [placeholder]="t('deductAmount')"
            [minError]="t('minAmountError', { value: minAmountValue() })"
            [mainHint]="
              fixedInterestPercentage() && detail()?.tdType === 'FIXED'
                ? t('amountHint', { percentage: fixedInterestPercentage() })
                : ''
            " />
        </div>
        <app-terms-and-conditions
          [field]="acceptTerms"
          [type]="tdType()" />
        <div class="pt-2xl flex justify-end">
          <button
            scbButton
            class="w-[200px]"
            (click)="next()">
            {{ t('submitRequest') }}
          </button>
        </div>
      </form>
    </scb-card>
  } @else {
    <ng-template #reviewSection>
      <div
        class="gap-2xl flex"
        *transloco="let t; prefix: 'products.depositForm'">
        <div class="gap-sm grid flex-1">
          <div class="body-label-md-m text-text-secondary">{{ t('from') }}</div>
          <app-account-selected-view
            [nickname]="fromAccount()!.accountNickname"
            [accountNumber]="fromAccount()!.accountNumber" />
        </div>

        <div class="gap-sm grid flex-1">
          <div class="body-label-md-m text-text-secondary">{{ t('to') }}</div>
          <app-account-selected-view
            [nickname]="selectedToAccount()!.accountNickname"
            [accountNumber]="selectedToAccount()!.accountNumber" />
        </div>
      </div>
      <ng-container *ngTemplateOutlet="headSection"></ng-container>
    </ng-template>
    <ng-container *rolePermission="['MAKER', 'SUPER_USER']">
      @switch (steps()) {
        @case ('review') {
          <scb-card
            class="gap-xl grid"
            *transloco="let t; prefix: 'products.depositForm'">
            <div class="gap-xs grid justify-center text-center">
              <div class="head-2xs-s text-text-tertiary">{{ t('amount') }}</div>
              <currency-view
                [amount]="amount.value"
                variant="primary"
                size="xs" />
            </div>

            <ng-container *ngTemplateOutlet="reviewSection" />

            <div class="gap-md mt-xl flex justify-end">
              <button
                scbButton
                variant="secondary"
                class="w-[200px]"
                (click)="goBack()">
                {{ t('back') }}
              </button>
              <button
                scbButton
                class="w-[200px]"
                (click)="next()">
                {{ t('continue') }}
              </button>
            </div>
          </scb-card>
        }
        @case ('completed') {
          <scb-card
            class="gap-xl grid"
            *transloco="let t; prefix: 'products.depositForm'">
            <div class="flex flex-col items-center justify-start gap-5">
              <icon
                [name]="isError() ? 'web-error' : 'web-success'"
                class="text-3xl" />
              <div
                data-decimal-="false"
                data-only-number="Off"
                data-size="md"
                class="inline-flex items-center justify-end">
                <currency-view
                  [amount]="requestData()?.amount"
                  variant="primary"
                  size="xl"
                  class="mt-xl" />
              </div>

              <p class="text-text-primary head-lg-s justify-center">
                @switch (isError()) {
                  @case ('API') {
                    {{ t('apiFails') }}
                  }
                  @case ('TOKEN') {
                    {{ t('invalidToken') }}
                  }
                  @case ('INSUFFICIENT_BALANCE') {
                    {{ t('insufficientBalance') }}
                  }
                }
                @if (!isError()) {
                  <ng-container *rolePermission="['SUPER_USER']">{{ t('successMessage') }}</ng-container>
                  <ng-container *rolePermission="['MAKER']">{{ t('makerSuccess') }}</ng-container>
                }
              </p>
            </div>
            <ng-container *ngTemplateOutlet="reviewSection" />

            <div class="gap-md mt-xl flex justify-center">
              <button
                scbButton
                variant="secondary"
                class="w-[200px]"
                routerLink="/products">
                {{ t('viewProducts') }}
              </button>
              <button
                scbButton
                class="w-[200px]"
                routerLink="/products">
                {{ t('done') }}
              </button>
            </div>
          </scb-card>
        }
      }
    </ng-container>
  }
</app-product-form-container>
